<!-- <p>fomularios works!</p> -->
<div>
  <input type="text" placeholder="Nombre" [formControl]="name" />
  {{ name.value }}
  <button [disabled]="name.errors">Enviar</button>
  <!-- <pre>
    <code>
      {{name | json}}
    </code>
  </pre> -->
</div>

<div>
  <input type="checkbox" [formControl]="isChecked" />
  {{ isChecked.value }}

  <!-- <pre>
    <code>
      {{ isChecked | json }}
    </code>
  </pre> -->
</div>

<hr />

<form [formGroup]="form">
  <div>
    <input type="text" placeholder="Nombre" formControlName="nameG" />
    {{ form.get("nameG")?.value }}
    <!-- <button [disabled]="name.errors">Enviar</button> -->
  </div>

  <div>
    <input type="checkbox" formControlName="isCheckedG" />
    {{ form.get("isCheckedG")?.value }}
  </div>
</form>

{{ form.value | json }}
<button [disabled]="form.get('nameG')?.errors">Enviar</button>
