<p>atributo works!</p>
<!-- DEV:COMMENT -> ngClass>
<!-- agrega selectores de tipo clase siempre y cuando se cumpla una condicion -->
<!-- <p [ngClass]="{'info': true}" >Mensaje importante</p> -->

<!-- En este claso decimos que si messageType es igual a info se inserta la clase info -->
<!-- <p [ngClass]="{'info': messageType==='info'}" >Mensaje importante</p> -->

<!-- <p [ngClass]="messageType" >Mensaje importante</p> -->

<!-- Se puede poner mas de una clase -->
<p [ngClass]="{'info': messageType===1,'error': messageType!==1}" >Mensaje importante ngClass</p>

<!-- DEV:COMMENT -> ngStyle-->
<!-- Aqui se modifica los estilos, y las condiciones son mas completas -->
<p [ngStyle]="{'color' : messageType===1 ? 'seagreen' : 'orange'}">Mesaje ngStyle</p>

<!-- DEV:COMMENT -> ngModel -->
<!-- se usa en los formularios para decidir que hacer con los datos que se reciben en los inputs -->

<!-- le pasamos el valor de inputValue al input -->
<input type="text" [(ngModel)] ="inputValue">
<p>Valor actual del input <b>{{inputValue}}</b></p>